@let user = accountServie.currentUser();

<header
  class="w-full sticky top-0 z-20 bg-linear-to-r from-primary via-primary/95 to-base-300 font-medium shadow-lg backdrop-blur-sm border-b border-white/10"
>
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

    <!-- Logo -->
    <a
      class="text-white text-xl flex items-center gap-3 font-semibold"
      routerLink="/"
      routerLinkActive="text-accent"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Dating App</span>
    </a>

   

    @if (user) {
      <nav class="hidden md:flex gap-6 uppercase text-white">
        <a routerLink="/members" routerLinkActive="text-accent">Matches</a>
        <a routerLink="/message" routerLinkActive="text-accent">Messages</a>
        <a routerLink="/list" routerLinkActive="text-accent">Lists</a>
      </nav>
    }
 @if (LoadingService.busyRequest() > 0) 
    {
      <span class="loading loading-spinner text-accent"></span>
    }
  
    @if (!user) {
      <form #loginForm="ngForm" (ngSubmit)="login()" class="hidden lg:flex gap-3">
       
        <input [(ngModel)]="creds.email" name="email" placeholder="Email" />
        
          @if(loginForm.controls['email']?.invalid && loginForm.control.get('email')?.touched) {
            <span class="text-error text-sm">Email is required</span>
          }
      
        <input [(ngModel)]="creds.password" name="password" type="password" placeholder="Password" />
        @if(loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched){
          <span class="text-error text-sm ">Pass not Valid </span>
        }
        <button class="btn btn-primary">Login</button>
      </form>
    }


    @if (user; as u) {
      <div class="hidden md:flex items-center gap-1">

 
        <div class="dropdown">
          <div tabindex="1" role="button" class="btn m-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
            </svg>
            <span>{{selectedTheme()}}</span>
          </div>

          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box w-52 p-2 shadow">
            @for (theme of themeList; track $index) {
              <li (click)="changetheme(theme)" class="text-white bg-black">{{ theme }}</li>
            }
          </ul>
        </div>

        <!-- User -->
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost flex items-center gap-2 text-white">
            <span>{{ u.displayName }}</span>
            <img [src]="u.imageUrl ?? '/user.png'" class="w-10 h-10 rounded-full" />
          </label>

          <ul tabindex="0" class="dropdown-content menu bg-white text-black rounded-xl w-52 p-2 shadow">
            <li><a routerLink="members/{{user.id}}">Edit Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>

      </div>
    }

    <!-- Mobile Button -->
    <button class="md:hidden text-white btn btn-ghost" (click)="isMenuOpen = !isMenuOpen">☰</button>
  </div>

  <!-- Mobile Menu -->
  @if (isMenuOpen) {
    <div class="md:hidden bg-base-300 text-white p-5 space-y-5">

      @if (user; as u) {

        <!-- User -->
        <div class="flex items-center gap-3 border-b border-white/20 pb-3">
          <img [src]="u.imageUrl ?? '/user.png'" class="w-12 h-12 rounded-full" />
          <span class="font-semibold">{{ u.displayName }}</span>
        </div>

        <!-- Links -->
        <div class="flex flex-col gap-4 uppercase">
          <a routerLink="/members" (click)="isMenuOpen = false">Matches</a>
          <a routerLink="/message" (click)="isMenuOpen = false">Messages</a>
          <a routerLink="/list" (click)="isMenuOpen = false">Lists</a>
        </div>

        <!-- Theme -->
        <div>
          <p class="mb-2 font-semibold">Theme</p>
          <div class="grid grid-cols-2 gap-2">
            @for (theme of themeList; track $index) {
              <button class="btn btn-sm" (click)="changetheme(theme)">{{ theme }}</button>
            }
          </div>
        </div>

        <button class="btn btn-error w-full" (click)="logout()">Logout</button>
      }

      @if (!user) {
        <form (ngSubmit)="login()" class="space-y-3">
          <input [(ngModel)]="creds.email" name="email" placeholder="Email" />
          <input [(ngModel)]="creds.password" name="password" placeholder="password" type="password" />
          <button class="btn btn-primary w-full">Login</button>
        </form>
      }

    </div>
  }
</header>
