<div
  class="card w-[75vw] max-w-none bg-white rounded-2xl shadow-2xl flex flex-col mx-auto mt-24 mb-8 border border-gray-100 hover:shadow-3xl transition-shadow duration-300"
>
  <div class="card-body p-8">
    <div class="text-center mb-6">
      <h2 class="card-title justify-center text-3xl sm:text-4xl text-primary mb-2 font-bold">
        Sign Up
      </h2>
      <p class="text-gray-500 text-sm">Create your account to get started</p>
    </div>
    <ul class="steps">
      <li class="step step-primary">Register</li>
      <li class="step" [class.step-primary]="currentSteps() == 2">Profile</li>
    </ul>
    @if (currentSteps() == 1) {
      <form [formGroup]="registerForm" class="flex flex-col gap-5 steps">
        <app-input-text
          class="mt-2"
          label="Email"
          type="email"
          formControlName="email"
        ></app-input-text>
        <app-input-text
          label="display Name"
          type="text"
          formControlName="displayName"
        ></app-input-text>
        <app-input-text
          label="password"
          type="password"
          formControlName="password"
        ></app-input-text>
        <app-input-text
          label="confirmPassword"
          type="password"
          formControlName="confirmPassword"
        ></app-input-text>
        @if (
          registerForm.get('confirmPassword')?.hasError('passwordMatch') &&
          registerForm.get('confirmPassword')?.touched
        ) {
          <div class="text-left text-red-500 text-sm">Confirm Password does not match password</div>
        }
        <div class="flex flex-col sm:flex-row gap-3 mt-6">
          <button
            type="button"
            (click)="cancel()"
            class="btn btn-outline btn-primary flex-1 hover:scale-105 transition-transform duration-300 border-2"
          >
            Cancel
          </button>

          @if (registerForm.invalid) {
            <button
              disabled
              class="btn bg-gray-500 flex-1 hover:scale-105 transition-transform duration-300 shadow-lg hover:shadow-xl"
            >
              Register
            </button>
          }
          @if (registerForm.valid) {
            <button
              type="button"
              (click)="NextStep()"
              [disabled]="registerForm.invalid"
              class="btn btn-primary flex-1 hover:scale-105 transition-transform duration-300 shadow-lg hover:shadow-xl"
            >
              NextStep
            </button>
          }
        </div>
      </form>
    }

    @if (currentSteps() == 2) {
      <form [formGroup]="profileForm" class="flex flex-col gap-5 steps">
       <div class="flex items-center gap-4 text-black">
        <div class="font-semibold">Gender:</div>
        <label class="flex gap-3 items-center" >
          <span >Male</span>
          <input
            id="gender-male"
            name="gender"
            class="radio radio-primary "
            type="radio"
            formControlName="gender"
            value="male"
          >
        </label>
         <label class="flex gap-3 items-center" >
          <span >Female:</span>
          <input
            id="gender-female"
            name="gender"
            class="radio radio-primary "
            type="radio"
            formControlName="gender"
            value="female"
          >
        </label>
       </div>
        <app-input-text
          label="DataOfBrith"
          type="date"
          formControlName="dateOfBirth"
          [maxDate]="MaxDate()"        
        ></app-input-text>
        <app-input-text label="City" type="text" formControlName="city"></app-input-text>
        <app-input-text label="Country" type="text" formControlName="country"></app-input-text>

        <div class="flex flex-col sm:flex-row gap-3 mt-6">
          <button
            type="button"
            (click)="PrevStep()"
            class="btn btn-outline btn-primary flex-1 transition-transform duration-300 border-2"
          >
            Cancel
          </button>
           @if (profileForm.invalid) {
            <button
              disabled
              class="btn bg-gray-500 flex-1 hover:scale-105 transition-transform duration-300 shadow-lg hover:shadow-xl"
            >
              Register
            </button>
          }
         @if (profileForm.valid) {
           <button
            type="button"
            (click)="Register()"
            [disabled]="registerForm.invalid || profileForm.invalid"
            class="btn btn-primary flex-1 transition-transform duration-300 shadow-lg hover:shadow-xl"
          >
            Register
          </button> 
         }
        </div>
      </form>
    }

   @if(validtionErros().length > 0) {
    <div class="alert alert-error mt-4">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
        <span>
          @for (error of validtionErros(); track $index) {
            <div>{{error}}</div>
          }
        </span>
      </div>
     </div>
   }
  </div>
</div>
